* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  width: 100%;
}

/*Variables*/
:root {
  --primary: rgb(62,145,204);
  --secondary: rgb(35,35,35);
  --blue: rgb(250,199,16);
}
h1 {
  color: #fafafa;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 35px;
}

h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

h3 {
  color: var(--secondary);
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}

/* Main Page Grid */
.main-wrapper {
  display: grid;
  grid-gap: 0;
}

/* Navigation Flex box*/
.nav-wrapper {
  background-color: var(--secondary);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 60px;
}

.toggle {
  background-color: rgb(58,58,58);
  display: none;
  flex-flow: row nowrap;
  width: 100%;
  height: 60px;
}

.nav-toggle {
  color: #fafafa;
  font-size: 30px;
  padding: 10px;
  width: 100%;
  text-align: right;

}

#register-button-mobile {
  flex: 0 0 1%;
}

.nav-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 0 1 9%;
  text-align: center;
  color: #fafafa;
  transition: all 0.9s 0s;
}

#register, #register:hover {
  flex: 0 0 10%;
  background: var(--secondary);
}

#register-button {
  background-color: white;
  color: var(--blue);
}

#register-button:hover {
  background-color: var(--blue);
  color: var(--primary);
}
#register-mobile {
  display: none;
  background-color: var(--blue);
}

@media (max-width: 768px) {
  .toggle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
  }
  .nav-wrapper {
    display: none;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .nav-wrapper .nav-item {
    flex: 0 0 100%;
    background-color: var(--secondary);
  }
  div .logo-container, .logo-wide {
    display: none;
    order: 1;
  }

  #register {
    display:none;
  }

  #register-mobile {
    display: flex; !important;
  }

}

/*first child of nav-items*/
h5:first-child {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  padding: 20px;
  margin: 0;
}
.nav-item.active > h5 {
  transform: rotate(-5deg) skew(-10deg);
  cursor: pointer;
}
.nav-item.active {
  color: var(--secondary);
  background-color: var(--primary);
  cursor: pointer;
}

.nav-item {
  background-color: transparent;
  transition: background-color 0.2s 0s, box-shadow 0s 0s;

}
[class="nav-item"]:hover {
  transition: all 0s 0s;
  text-shadow: 20px 10px 2px rgba(0, 0, 0, 0.5);
  background-color: var(--primary);
  cursor: pointer;
}
[class="nav-item"]:hover h5 {
  transition: all 0.3s 0s;
  transform: rotate(-5deg) skew(-10deg);
  color: var(--secondary);
  cursor: pointer;
}

[class="nav-item"] > h5 {
  transition: all 0.3s 0s;
}



.logo-container-mobile {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-right: auto;
  margin-left: 5px;
  align-self: center;
}

.logo-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-right: auto;
  margin-left: 5px;
  align-self: center;
}

.logo-wide {
  height: 90%;
}
.logo-small {
  height: 70%;
}

/*Main Banner*/
.banner-title {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.banner-title-text {
  font-size: 45px;
  text-align: left;
  margin-left:50px;
}

.banner-subtitle-text {
  margin-left: 50px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  border: 0;
  border-radius: 2px;
  color: #fafafa;
  margin-left: 100px;
  align-self: flex-start;
  background-color: var(--primary);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.5s;
}

.btn:hover {
  cursor: pointer;
  transition: all 0.3s;
  color: var(--secondary);
  background-color: white;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.16), 0 0 0 rgba(0, 0, 0, 0.23);
}

.btn:focus {
  outline: 0;
}

.primary-btn {
  align-self: center;
  margin: auto;
  text-transform: uppercase;
}

/*Goals Part*/
.goals {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.goals-title {
  color: var(--primary);
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.goals-subtitle {
  color: grey;
  width: 100%;
  text-align: center;
}

.goal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 5px solid  var(--primary);
  border-radius: 50%;
  background-color: white;
  height: 130px;
  width: 130px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 50px 50px 0 50px;
}

.goal > h3 {
  font-size: 35px;
}

.portfolio {
  margin-top: 35px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--secondary);
}

.portfolio-title {
  flex: 0 0 100%;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.portfolio-subtitle {
  color:  var(--primary);
  flex: 0 0 100%;
  text-align: center;
}

.port-item {
  background-image: url(../img/port-item.jpeg);
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: left top;
  background-color: #fafafa;
  border-radius: 4px;
  margin: 17px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 350px;
  height: 187px;
}

.port-item:hover {
  transition: all 0.4s 0s;
  background-color:  var(--primary);
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.port-item-title {
  margin-top: 142px;
  margin-left: 10px;
  text-align: left;
}

#particles-js {
  width: 100%;
  background-color: #121212;
  background-image: url("https://i.imgur.com/jDEW4Dx.png");
  background-position: center;
  background-size: 450px ;
  background-repeat: no-repeat;
  height: 700px;
}

 .title {
  color:var(--primary);
   text-align: center;
}

 .sub-title {
   color: #121212;
   text-align: center;
 }

