* {
  box-sizing: border-box;
}

h1 {
  color: #222533;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 35px;
}

h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

h3 {
  color: #222533;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}

/* Main Page Grid */
.main-wrapper {
  display: grid;
  grid-gap: 0;
}

/* Navigation Flex box*/
.nav-wrapper {
  background-color: #222533;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 52px;
}

.toggle {
  background-color: #101c29;
  display: none;
  flex-flow: row nowrap;
  width: 100%;
}

.nav-toggle {
  color: #fafafa;
  font-size: 30px;
  padding: 10px;
  width: 100%;
  text-align: right;

}

.nav-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 0 1 9%;
  text-align: center;
  color: #fafafa;
}
@media (max-width: 768px) {
  .toggle {
    display: flex;
  }
  .nav-wrapper {
    display: none;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .nav-wrapper .nav-item {
    flex: 0 0 100%;
    background-color: #222533;
  }
  div .logo-container, .logo-wide {
    display: none;
    order: 1;
  }
}


/*first child of nav-items*/
h5:first-child {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  padding: 20px;
  margin: 0;
}
.nav-item.active > h5 {
  transform: rotate(-5deg) skew(-10deg);
  cursor: pointer;
}
.nav-item.active {
  color: #222533;
  background-color: #1abc9c;
  cursor: pointer;
}

.nav-item {
  background-color: transparent;
  transition: all 0s 0s;
}
[class="nav-item"]:hover {
  transition: all 0s 0s;
  text-shadow: 20px 10px 2px rgba(0, 0, 0, 0.5);
  background-color: #15bc9c;
  cursor: pointer;
}
[class="nav-item"]:hover h5 {
  transition: all 0.3s 0s;
  transform: rotate(-5deg) skew(-10deg);
  color: #222533;
  cursor: pointer;
}

[class="nav-item"] > h5 {
  transition: all 0.3s 0s;
}



.logo-container-mobile {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-right: auto;
  margin-left: 5px;
  align-self: center;
}

.logo-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-right: auto;
  margin-left: 5px;
  align-self: center;
}

.logo-wide {
  height: 70%;
}
.logo-small {
  height: 70%;
}

/*Main Banner*/
.main-banner {
  display: flex;
  flex-flow: row wrap;
  background-image: url(img/cat-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
}
.banner-title {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.banner-title-text {
  margin: 0;
  margin-left: 100px;
}

.banner-subtitle-text {
  margin-left: 100px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  color: #fafafa;
  margin-left: 100px;
  align-self: flex-start;
  background-color: #1abc9c;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.5s;
}

.btn:hover {
  cursor: pointer;
  transition: all 0.3s;
  color: #222533;
  background-color: white;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.16), 0 0 0 rgba(0, 0, 0, 0.23);
}

.btn:focus {
  outline: 0;
}

/*Goals Part*/
.goals {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.goals-title {
  color: #1abc9c;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.goals-subtitle {
  color: grey;
  width: 100%;
  text-align: center;
}

.goal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 5px solid #1abc9c;
  border-radius: 50%;
  background-color: white;
  height: 130px;
  width: 130px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 50px 50px 0 50px;
}

.goal > h3 {
  font-size: 35px;
}

.portfolio {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #222533;
}

.portfolio-title {
  flex: 0 0 100%;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.portfolio-subtitle {
  color: #1abc9c;
  flex: 0 0 100%;
  text-align: center;
}

.port-item {
  background-image: url(img/port-item.jpeg);
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: left top;
  background-color: #fafafa;
  border-radius: 4px;
  margin: 17px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 350px;
  height: 187px;
}

.port-item:hover {
  transition: all 0.4s 0s;
  background-color: #1abc9c;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.port-item-title {
  margin-top: 142px;
  margin-left: 10px;
  text-align: left;
}
